@use 'stylesheets/main';

.nav {
	background-color: rgba(main.$color-gray-50, 0.5);
}

.list {
	margin: 0 auto;
	@include main.stack(center) {
		margin-left: 64px;
	}

	&_item {
		cursor: pointer;
	}
}

.link {
	text-transform: uppercase;
	color: main.$color-white;
	padding: 32px 0;
	position: relative;
	display: block;

	&:hover::before,
	&.active::before {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: main.$color-red;
		position: absolute;
		bottom: 0;
	}
}
